<div class="row">
    <div class="col-md-6" id="bginputform">
        <div class="form-horizontal" id="inputform">
            <h3>Login</h3>

            <form class="form-panel" id="myform">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="username" type="text" class="validate form-control" data-validate="required" placeholder="Username" maxlength="15" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="password" class="validate form-control" data-validate="required" placeholder="Password" maxlength="25" />
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="col-md-12">
                    <button id="registerBtn" class="btn btn-block btnPurple bgpurple">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>