<div class="row">
    <div class="col-md-6" id="bginputform">
        <div class="form-horizontal" id="inputform">
            <h3>Registration</h3>

            <form class="form-panel" id="myform">
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="phoneValidation" type="text" class="validate form-control" data-validate="required" placeholder="Mobile number" maxlength="15" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="firstname" class="validate form-control" data-validate="required" placeholder="First name" maxlength="25" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="lastname" class="validate form-control" data-validate="required" placeholder="Last name" maxlength="25" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Date of Birth</label>
                        <div class="form-inline">
                            <select class="form-control bulan" id="month"></select>
                            <select class="form-control tanggal" id="date"></select>
                            <select class="form-control tahun" id="year"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <input type="radio" id="genderMale" name="gender" /><label for="genderMale" class="labelRadio">Male</label>
                            <input type="radio" id="genderFemale" name="gender" /><label for="genderFemale" class="labelRadio">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="emailValidation" class="validate form-control" data-validate="required" maxlength="50" placeholder="Email" />
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="col-md-12">
                    <button id="registerBtn" class="btn btn-block btnPurple bgpurple">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="btnLoginDiv">
    <div class="col-md-6" id="bginputform">
        <div class="footer">
            <button id="loginBtn" class="btn btn-block btnPurple bgpurple">Login</button>
        </div>
    </div>
</div>

<div class="row" id="footerDiv">
    <div class="col-md-6 bgpurple" style="margin-top:20px;">
        <div class="footer">
            <label class="footerLabel">FOOTER</label>
        </div>
    </div>
</div>
