body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

.bulan, .tahun, .tanggal {
    width: 32%;
}

.btnPurple {
    color: white;
}

.footerLabel {
    color: white;
}

.footer{
    height: 70px;
    width: 730px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#bginputform {
    margin-top: 20px;
    background-color: lightgrey;
}
#bgfooter {
    padding: 15px;
    margin-top: 10px;
}
.inputform {
    background-color: lightgrey;
    padding: 20px;
}
.labelRadio {
     cursor: pointer;
}

.bgpurple {
    background-color: purple;
}

#btnLoginDiv {
    display: none;
}